<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SteganoApp</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='chat.png') }}">

    
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    
    {% block page_css %}
    {% endblock %}
</head>
<body>
    <nav class="navbar">
        <div class="logo">SteganoApp</div>
        <ul>
            <li><a href="/">Home</a></li>
    
            {% if current_user.is_authenticated %}
                <li><a href="/profile">Profile</a></li>
                <li><a href="/logout">Logout</a></li>
            {% else %}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
            {% endif %}
        </ul>
    </nav>
    

    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash-message">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        let flashMessages = document.querySelectorAll('.flash-message');
        flashMessages.forEach(function(message) {
            setTimeout(function() {
                message.style.opacity = '0';
                setTimeout(() => message.remove(), 300);
            }, 2000);
        });     
    });
</script>
</body>
</html>
