<!DOCTYPE html>
  <html>
  <head>
    <style>
    ul {
      list-style-type: none;
      margin: 0;
      margin-top: 5%;
      padding: 0;
      width: 100%;
      background-color: #33FF83;
    }
    
    li a {
      display: block;
      color: #000;
      padding: 80px 16px;
      text-align: center;
      font-size: 150%;
      text-decoration: none;
    }
    
    /* Change the link color on hover */
    li a:hover {
      background-color: #555;
      color: white;
    }
    </style>
    </head>
  <body bgcolor="#33FF83">
    <ul>
      <li><a href="/image/encode">Encode</a></li>
        <li><a href="/image/last/encoded">Last Encoded</a></li>
        <li><a href="/image/decode">Decode</a></li>
        <li><a href="/image/last/decoded">Last Decoded</a></li>
      </ul>
  </body>
  </html>